.header {
  background: #353a44;
  color: #d5d7d9;
  padding: 0 25px;
}

.amazon-crp-dropdown .amazon-crp-dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  margin-top: 15px;
  box-shadow: 1px 1px 0 0 rgba(66, 66, 66, 0.2);
  font-size: .9em;
  color: #333;
  z-index: 90
}
