$mobileBreakpointPx: 420px;
$mobileBreakpoint: 'screen and (max-width: #{$mobileBreakpointPx})';

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

a {
  color: #039be5
}

dfn {
  text-decoration: none;
  font-style: normal;
}

button, select, input {
  background-color: transparent;
  border: 0;
  outline: 0;

  &:focus {
    outline: 0;
    border: 0;
  }
}

ul.amazon-crp-inline-list {
  padding: 0;
  margin: 0
}

ul.amazon-crp-inline-list>li {
  display: inline-block
}

ul.amazon-crp-inline-list>li:not(:first-child ){
  margin-left: 10px
}

ul.amazon-crp-inline-list>li:not(:last-child ):not(.indicator ){
  padding-right: 15px;
  border-right: 1px solid #999
}

.amazon-crp-bar {
  color: #d5d7d9;
  padding: 15px 0;
  margin-bottom: 15px
}

.amazon-crp-bar ul.amazon-crp-inline-list>li:not(:last-child):not(.indicator){
  border-right: 1px solid #fff
}

